%script{ type: 'text/template', id: 'template-note' }
  <p class="note-datetime">
  <%= moment(created_at).fromNow() %>
  </p>
  <h3 class="note-title">
  <%= title %>
  </h3>
  <a href="/notes/<%= id %>" class="note-permalink" title="Permalink">
  &infin;
  </a>

= content_tag 'div', 'Loading…', id: 'container', data: { notes: Note.all }
