$font-family-sans: 'Raleway', 'Helvetica Neue', Arial, sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-small: 11px;
$font-size-default: 16px;
$line-height-default: 1.2;

$headline-color: #444;
$text-color: #333;

$button-background-color: #ccc;
$button-background-color-primary: hsl(170, 75%, 50%);
$button-background-color-primary-hover: hsl(170, 90%, 40%);
$button-background-color-primary-disabled: desaturate($button-background-color-primary, 25%);

$border-color-default: #ddd;
$border-radius-default: 5px;

$one-fifth: percentage(1/5);
$one-fourth: percentage(1/4);
$one-third: percentage(1/3);
