<div class="note-wrapper">
  <time class="note-datetime" datetime="{{created_at}}">
    {{created_at}}
  </time>
  <a href="/notes/{{id}}" class="note-permalink" title="Permalink">
    &infin;
  </a>
  <h3 class="note-title">
    {{title}}
  </h3>
</div>
