<time class="note-datetime" datetime="{{created_at}}">
  {{created_at}}
</time>
<h3 class="note-title">
  {{title}}
</h3>
<a href="/notes/{{id}}" class="note-permalink" title="Permalink">
  &infin;
</a>
