<form class="form note-new-form">
  <textarea name="title" placeholder="New Note…" autofocus="autofocus"></textarea>
  <input type="submit" value="Save Note" class="button button-primary button-block button-disabled" disabled="disabled">
</form>
