.button {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius-default;
  color: #fff;
  font: $font-weight-bold 12px $font-family-sans;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: $button-background-color;
  outline: none;
  -webkit-appearance: none;
  &:hover {
    background: darken($button-background-color, 20%);
  }
}

.button-primary {
  background: $button-background-color-primary;
  &:hover {
    background: darken($button-background-color-primary, 7%);
  }
}

.button-disabled {
  opacity: 0.4;
  background: $button-background-color-primary-disabled;
  &:hover {
    background: $button-background-color-primary-disabled;
  }
}

.button-block {
  width: 100%;
}

.btn-small {
  padding: 8px 12px;
  font-size: 12px;
}
