$header-heigth: 44px;

.header {
  height: $header-heigth;
  background: hsla(0, 0%, 20%, 0.95);
  overflow: hidden;

  .container {
    position: relative;
  }

  #logo {
    margin: 0;
    text-align: center;
    a {
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      font-weight: $font-weight-light;
      color: #eee;
      text-decoration: none;
    }
  }

  .button {
    position: absolute;
    top: 0;
    margin: 4px 10px;
  }
  .auth_btn {
    right: 0;
  }
}

.fixed-header {
  padding-top: $header-heigth;

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
