header {
  background: hsla(0, 0%, 20%, 0.95);
  overflow: hidden;

  h1 {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: 300;

    a {
      display: block;
      padding: 10px;
      color: #eee;
      text-decoration: none;
    }
  }
}

.fixed-header {
  padding-top: 44px;

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
