header {
  margin: 0 0 20px;
  background: #333;
  overflow: hidden;

  h1 {
    float: left;
    margin: 0;
    font-size: 20px;
    font-weight: 300;

    a {
      display: block;
      padding: 10px;
      color: #eee;
      text-decoration: none;
    }
  }
}
