/* Notes */

$note-background-color-01: hsl(60, 100%, 90%);
$note-background-color-02: hsl(60, 100%, 75%);

#notes {
  overflow: hidden;
}

.notes {
  margin: 0 -1%;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.note {
  @include linear-gradient($note-background-color-01, $note-background-color-02);
  position: relative;
  width: 18%;
  height: 200px;
  float: left;
  margin: 0 1% 20px;
  padding: 20px;

  @include media($desktop) {
    width: 23%;
  }

  @include media($tablet) {
    width: 31%;
  }

  @include media($mobile) {
    width: 280px;
    height: 280px;
    float: none;
    margin: 0 auto 20px;
    .note-new-form textarea {
      min-height: 198px;
    }
    .note-title {
      height: 212px;
    }
  }
}

.note-datetime {
  display: block;
  margin: 0 0 10px;
  font-size: $font-size-small;
  font-weight: $font-weight-normal;
}

.note-title {
  margin: 0;
  font-size: 17px;
  font-weight: $font-weight-medium;
  line-height: 1.3;
  height: 130px;
  overflow: hidden;
}

.note-permalink {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}

.note-new-form textarea {
  min-height: 118px;
  margin-bottom: 6px;
  border: none;
  font: $font-weight-normal $font-size-default $font-family-sans;
  background: transparent;
}
