.is-hidden {
  opacity: 0;
}

.is-inserting-new-note {
  .note:nth-child(2) {
    @include transition(margin 300ms ease-in-out);

    margin-left: $note-width-desktop-wide;
    @include media($desktop) {
      margin-left: $note-width-desktop;
    }
    @include media($tablet) {
      margin-left: $note-width-tablet;
    }
    @include media($mobile) {
      margin-left: auto;
      margin-top: $note-width-mobile + 20px;
    }
  }
}
