/* Notes */

$note-background-color-01: hsl(60, 100%, 90%);
$note-background-color-02: hsl(60, 100%, 75%);

.notes {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.note {
  @include linear-gradient($note-background-color-01, $note-background-color-02);
  position: relative;
  width: 200px;
  min-height: 200px;
  float: left;
  margin: 0 10px 20px;
  padding: 20px;
}

.note-datetime {
  margin: 0 0 10px;
  font-size: $font-size-small;
}

.note-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  height: 136px;
  overflow: hidden;
}

.note-permalink {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}
