/* Notes */

.notes {
  margin: 0;
  padding: 10px;
  list-style: none;
  overflow: hidden;
}

.note {
  position: relative;
  width: 160px;
  min-height: 160px;
  float: left;
  margin: 10px;
  padding: 20px;
  background: hsl(60, 100%, 90%);
}
.note-datetime {
  margin: 0 0 10px;
}
.note-permalink {
  color: #333;
  text-decoration: none;
  font-size: 75%;
}
