/* Notes */

$note-background-color: hsl(60, 100%, 90%);

.notes {
  margin: 0;
  padding: 10px;
  list-style: none;
  overflow: hidden;
}

.note {
  position: relative;
  width: 160px;
  min-height: 160px;
  float: left;
  margin: 10px;
  padding: 20px;
  background: $note-background-color;
}

.note-datetime {
  margin: 0 0 10px;
  font-size: $font-size-small;
}

.note-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  height: 136px;
  overflow: hidden;
}

.note-permalink {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: $font-size-small;
  color: $text-color;
  text-decoration: none;
}
