%footer
  .container
    .col
      %p
        A Backbone.JS + Rails 4 JSON-API learning experience by
        = link_to '@cfleschhut', 'https://twitter.com/cfleschhut'
      %p
        GitHub Repo:
        = link_to 'cfleschhut/StickyNotes-App', 'https://github.com/cfleschhut/StickyNotes-App'
